<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"rel="stylesheet"integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0/dist/quill.snow.css"rel="stylesheet"/>
    <title>Teste</title>
    <style>
        #editor{
            background-color: bisque;
            border-radius: 3px;
        }
        .ql-toolbar{
            background-color: none;
            border: 0px !important;
            
        }
    </style>
  </head>

  <body>
    <div class="container">
        <!-- {% csrf_token %} -->
        <!-- <div id="editor"></div>
        <br>
        <input type="button" class="btn btn-success" value="SEND" onclick="salvar()"> -->
        <hr>
        <div id="toolbarSeparada"></div>
        <br>
        <br>
        <br>
        <div id="caixaTextoSeparada"></div>
        <!-- <hr>
        {% for texto in textos %}
            <div>
                {% comment %} O safe realiza a renderização da página html {% endcomment %}
                {{texto.conteudo_texto|safe}} 
                <hr>
            </div>
        {% endfor %}  -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0/dist/quill.js"></script>

    <script> //recomendado que este arquivo seja externo

        // TESTE ===========================================================================================================================================
        //TOOLBAR SEPARADA
        var testeToolbarOptions = [
            [{'font': []}],
            ['bold','italic','underline','strike']
        ]

        var quill = new  Quill('#caixaTextoSeparada', {
            modules: {
                toolbar: testeToolbarOptions
            },
            placeholder: 'Digite seu texto',
            theme: 'snow' //pode ser bubble também (ver qual mais se encaixa)
        })

        var toolbarContainer = document.getElementById('toolbarSeparada')
        toolbarContainer.appendChild(quill.getModule('toolbar').container)                       

        //CRIANDO A TOOLBAR (BARRA DE ESTILIZAÇÃO DO TEXTO)=================================================================================================
        // var toolbarOptions = [
        //     [{'font': []}],
        //     ['bold','italic','underline','strike'],
        //     ['blockquote', 'code-block'],

        //     [{ 'header': 1 }, { 'header': 2 }],
        //     [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        //     [{ 'script': 'sub'}, { 'script': 'super' }],
        //     [{ 'direction': 'rtl' }],

        //     [{ 'size': ['small', false, 'large', 'huge'] }],
        //     [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        //     [{ 'color': [] }, { 'background': [] }], //caso queira tirar ou colocar algum elemento, é necessário sinalizar no colchetes (vazio vem o padrão)
        //     [{ 'align': [] }], //Dá para definir qual eu quero inserir
        //     ['image'],

        //     ['clean']     
        // ]

        //CHAMANDO A TOOL BAR (BARRA DE ESTILIZAÇÃO DO TEXTO)===============================================================================================
        // var quill = new  Quill('#editor', {
        //     modules: {
        //         toolbar: {
        //             container: toolbarOptions, //pode separar a toolbar inserindo o id
        //             handlers: {
        //                 image: urlImage
                        
        //             }
        //         }
        //     },
        //     placeholder: 'Digite seu texto',
        //     theme: 'snow' //pode ser bubble também (ver qual mais se encaixa)
        // })

        //VALIDANDO SOLICITAÇÃO HTTP DA IMAGEM=============================================================================================================
        // function verificaUrl (url){
        //     fetch(url)
        //     .then(response => {
        //         if (!response.ok) {
        //             throw new Error('Erro ao buscar a URL');
        //         }
                
        //         // Verifica o tipo de conteúdo retornado pela resposta
        //         const contentType = response.headers.get('content-type');
        //         if (contentType && contentType.indexOf('image') !== -1) {
        //             // console.log('achou URL')
        //         } else {
        //             console.log('URL Vazia')
        //         }
        //     })
        //     .catch(error => {
        //         if (mensage.includes('404')){  //erro no includes
        //             console.log('Página não encontrada') //não presentou a mesagem de erro =============================
        //         } else{
        //             console.error('Link não leva a uma imagem') //não presentou a mesagem de erro =============================
        //         }
        //     })
        // }

        //INSERINDO IMAGEM POR LINK=========================================================================================================================
        // function urlImage(){
        //     let selection = this.quill.getSelection()
        //     let prompt = window.prompt('URL da imagem') //a alteração da janela de URL é feita aqui
            
        //     verificaUrl(prompt)
            
        //     this.quill.insertEmbed(selection.index, 'image', prompt)
        // }

        //RETORNANDO HTML====================================================================================================================================
        // function returnHtml(){
        //     return quill.root.innerHTML
        // }

        //SALVANDO NO BANCO==================================================================================================================================
        // function salvar(){
        //     csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value
        //     texto = returnHtml()

        //     fetch('/home/salvar/',{
        //         method: 'POST',
        //         headers : {
        //             'X-CSRFToken' : csrf_token
        //         },
        //         body: JSON.stringify({'texto': texto})

        //     }).then(function(result){
        //         return result.json()

        //     }).then(function(data){
        //         location.reload(true)
        //     })
        // }
    </script>
  </body>
</html>
